/* Default settings for a page */
QPushButton, QRadioButton, QLabel, QLineEdit, QDateTimeEdit {
    font-family: LINE Seed Sans, LINE Seed Sans;
}

#page {
    font-size: 50px;
    background: white;
}

QPushButton {
    color: white;
    font-size: 28px;


    background: rgb(248, 219, 97);
    border-radius: 5px;
}

QPushButton:pressed {
    background: rgb(174, 153, 68);
}

#main_menu_btn, #ok_btn, #run_btn {
    background-color:green;
}

#main_menu_btn:pressed, #ok_btn:pressed  {
    background-color:rgb(0, 110, 0);
}

#abort_btn, #to_abort_btn, #stop_btn {
    background-color:red;
}

#abort_btn:pressed, #to_abort_btn:pressed, 
#stop_btn:pressed {
    background-color:rgb(110, 0, 0);
}

QLabel, QRadioButton, QCheckBox, QLineEdit{
    font-size: 21px;
}

QCheckBox::indicator{
    width:28px; 
    height: 28px;
}

QRadioButton::indicator {
    width:22px; 
    height: 22px;
}

#title_lbl {
    font-size: 32px;
    font-weight: bold;
}